{
	"DB" : {
		"DB_IMS_OLD"					: "OLD IMS DATABASE",
		"DB_IMS_TRANSITION"				: "IMS TRANSITIONAL DATABASE"
	},
	
	"APP" : {
		"PUBMED_EMAIL"					: "YOUR EMAIL ADDRESS",
		"PUBMED_TOOL"					: "A NAME FOR YOUR TOOL"
	}
}